body #wall .tag-1 {
    left: 0px;
    z-index: 1;
}

#wall .tag-1 + #tag-2 {
    z-index: 3;
    right: 0;
}

body #wall #tag-2 + #tag-3[class="slick wicked"] {
    left: 200px;
    top: 20px;
    z-index: 4;
}

body div#wall .parent #tag-5.slick {
    top: -100px;
}

body #wall #tag-3 ~ .parent div+div #tag-6 {
    display: none;
}